:root {
  --primary: #4caf50;
  --primary-hover: #388e3c;
  --primary-border: #a5d6a7;

  --secondary: #128c7e;
  --border-color: #cbd5e0;
}

@font-face {
  font-family: "Geist";
  src: url("/assets/Geist-Regular.woff2");
}

body {
  font-family:
    "Geist",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background: #c8e6c9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
